.input_container {
  display: flex;
  flex-direction: column;
  max-width: 496px;
  max-height: 408px;
  gap: 28px;

  .middle_inputs {
    display: grid;
    gap: 24px;
    grid-template-columns: min-content min-content;
    justify-content: space-between;
  }
  .textarea_container {
    display: flex;
    box-sizing: content-box;

    textarea {
      display: flex;
      width: 496px;
      padding: 12px;
      height: 150px;
      border-radius: 4px;
      border: 2px solid #111827;
      gap: 4px;
      resize: none;
    }
  }
}
