.calculator_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 756px;
  height: 565px;
  padding: 24px 27px;
  gap: 28px;
  border-radius: 16px;
  background-color: #f9fafb;
}
