.input_container {
  display: flex;
  flex-direction: column;
  max-width: 496px;
  max-height: 408px;
  gap: 28px;

  .top_input {
    display: flex;
  }

  .middle_inputs {
    display: grid;
    gap: 24px;
    grid-template-columns: min-content min-content;
    justify-content: space-between;
  }
}
